@model PaginatedList<CarWorkshop.Infrastructure.DTO.RepairDTO>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Begin</th>
                <th>End</th>
                <th>Description</th>
                <th>Payment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var repair in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(item => repair.BeginDate)</td>
                    <td>@Html.DisplayFor(item => repair.EndDate)</td>
                    <td>@Html.DisplayFor(item => repair.Description)</td>
                    <td>@Html.DisplayFor(item => repair.Payment)</td>
                    <td>
                    <input class="btn btn-default" type="submit" value="Delete" onclick="location.href='@Url.Action("Delete", "Repair", new {Id = repair.RepairId})'" />
                    <input class="btn btn-default" type="submit" value="Edit" onclick="location.href='@Url.Action("Edit", "Repair", new {Id = repair.RepairId})'" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    var hasNext = Model.HasNextPage ? "" : "disabled";
    var hasPrevious = Model.HasPreviousPage ? "" : "disabled";
}

<a class="btn btn-default @hasPrevious" asp-area="Administrator" asp-controller="Search" asp-action="Index"
   asp-route-option="@ViewData["ViewComponent"]"
   asp-route-inactive="@ViewData["Inactive"]"
   asp-route-page="@(Model.PageIndex-1)">
    Previous
</a>

<a class="btn btn-default @hasNext" asp-area="Administrator" asp-controller="Search" asp-action="Index"
   asp-route-option="@ViewData["ViewComponent"]"
   asp-route-inactive="@ViewData["Inactive"]"
   asp-route-page="@(Model.PageIndex+1)">
    Next
</a>
