@model PaginatedList<CarWorkshop.Infrastructure.DTO.EmployeeDTO>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Currency</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(item => employee.FirstName)</td>
                    <td>@Html.DisplayFor(item => employee.LastName)</td>
                    <td>@Html.DisplayFor(item => employee.EmailAddress)</td>
                    <td>@Html.DisplayFor(item => employee.PhoneNumber)</td>
                    <td>@Html.DisplayFor(item => employee.Position)</td>
                    <td>@Html.DisplayFor(item => employee.Salary)</td>
                    <td>@Html.DisplayFor(item => employee.Currency)</td>
                    <td>
                        <input class="btn btn-default" type="submit" value="Delete" onclick="location.href='@Url.Action("Delete", "Employee", new {Id = employee.EmployeeId})'" />
                        <input class="btn btn-default" type="submit" value="Edit" onclick="location.href='@Url.Action("Edit", "Employee", new {Id = employee.EmployeeId})'" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<a class="btn btn-default" asp-area="Administrator" asp-controller="Search" asp-action="Index"
   asp-route-option="@ViewData["ViewComponent"]"
   asp-route-inactive="@ViewData["Inactive"]"
   asp-route-page="@(Model.PageIndex-1)">
    Previous
</a>

<a class="btn btn-default" asp-area="Administrator" asp-controller="Search" asp-action="Index"  
   asp-route-option="@ViewData["ViewComponent"]"
   asp-route-inactive="@ViewData["Inactive"]"
   asp-route-page="@(Model.PageIndex+1)">
    Next
</a>

