@model List<CarWorkshop.Infrastructure.DTO.CarDTO>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Reg. No.</th>
                <th>Owner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(item => car.Brand)</td>
                    <td>@Html.DisplayFor(item => car.CarModel)</td>
                    <td>@Html.DisplayFor(item => car.RegistrationNumber)</td>
                    <td>@Html.DisplayFor(item => car.ClientId)</td>
                    <td>
                    <input class="btn btn-default" type="submit" value="Delete" onclick="location.href='@Url.Action("Delete", "Car", new {Id = car.CarId})'" />
                    <input class="btn btn-default" type="submit" value="Edit" onclick="location.href='@Url.Action("Edit", "Car", new {Id = car.CarId})'" />
                    <input class="btn btn-default" type="submit" value="Add Repair" onclick="location.href='@Url.Action("Add", "Repair", new {CarId = car.CarId})'" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>