@model List<CarWorkshop.Infrastructure.DTO.CarDTO>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Reg. No.</th>
                <th style="text-align: center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(item => car.Brand)</td>
                    <td>@Html.DisplayFor(item => car.CarModel)</td>
                    <td>@Html.DisplayFor(item => car.RegistrationNumber)</td>
                    <td style="text-align: center">
                    <div>
                        <div style="display:inline-block">
                            <form method="get" asp-area="" asp-controller="Car" asp-action="Delete">
                                <input name="Id" type="hidden" value="@car.CarId" />
                                <input class="btn btn-default" type="submit" value="Delete" />
                            </form>
                        </div>
                        <div style="display:inline-block">
                            <form method="get" asp-area="" asp-controller="Car" asp-action="Edit">
                                <input name="Id" type="hidden" value="@car.CarId" />
                                <input class="btn btn-default" type="submit" value="Edit" />
                            </form>
                        </div>
                        <div style="display:inline-block">
                            <form method="get" asp-area="" asp-controller="Repair" asp-action="Add">
                                <input name="CarId" type="hidden" value="@car.CarId" />
                                <input class="btn btn-default" type="submit" value="Add Repair" />
                            </form>
                        </div>
                        <div style="display:inline-block">
                            <form method="get" asp-area="" asp-controller="Car" asp-action="ListRepairs">
                                <input name="CarId" type="hidden" value="@car.CarId" />
                                <input class="btn btn-default" type="submit" value="Show Repairs" />
                            </form>
                        </div>
                    </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>